.nav {
    background-color: var(--bs-blue);
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 10000;
}

.text-link {
    color: #fff;
    text-decoration: none;
}

.logout-btn {
    color: #fff;

    &:hover {
        color: var(--bs-red);
    }
}