.position {
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 10px;
    // right: 10px;
    // max-width: 95vw;
    z-index: 10000;
}

// @media (min-width:320px) and (max-width:420px) {
//     .position {
//         top: 20px;
//         right: 0;
//     }
// }